<head>
  <!-- CSS only -->
  <style>
    h1{
      text-align: right;
    }
    #padding{
      padding:15px;
      margin-bottom 10px;
      text-align: right;
    }

    #padding2{
      padding: 5px;
    }

    #margin{
      margin-top: 100px;
    }

    table tr {
      margin-bottom: 10px;
      display: table;
   }
   .borda{
    border-style: solid;
    border-style: rounded;
    border-color: red;
    border-radius: 25px;
    position: relative;
    background-color: #ffcccc;
    
   }
   

  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>



{% block content %}
<div class="borda">
<div class="d-flex justify-content-center" id="padding">
  <h1>Guia App</h1>
</div>
<div class="d-flex justify-content-center" id="padding">  
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>

    
    <div class="d-grid gap-2 d-md-block">
    <div class="d-flex justify-content-center" id="padding"> 
    <input type="submit" value="Submit" class="btn btn-danger">
    </div>
    </div>
    
    </div>
  </form>
</div>
</div>
{% endblock %}

<div class="d-flex justify-content-center" id="padding">
{% block result %}
<div class="d-flex justify-content-center" id="padding" >
{% if model %}
<div class="d-flex justify-content-center">
<h1 class="d-flex justify-content-center" id="padding">Filtered image</h1>

<img src="{{ model_nofilter.image.url }}" id="margin">

</div>
<div class="d-flex justify-content-center">
<h1 class="d-flex justify-content-center" id="padding">Filtered image</h1>

<img src="{{ model.image.url }}" id="margin">

</div>
{% endif %}
</div>
{% endblock %}
</div>

